<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'pulauweh.jpg'%>)"
  height="200px">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center title">
      <strong>Tanguy Chennaux  </strong> 
      <span class="hidden-xs hidden-sm" id="jobtitle"> // FullStack Developer // </span> 
      <%= partial "layouts/navbar" %>
      </h3>
    </div>
  </div>
</div>