<section class="container text-center" id="contact">

  <h3>To get more info about me click below!</h3>
  <a href="https://www.facebook.com/tanguy.chennaux" target="_blank"><i class="fab fa-facebook-square"></i></a>
  <a href="https://www.linkedin.com/in/tanguy-chennaux/" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://www.pinterest.co.uk/tanguychennaux/" target="_blank"><i class="fab fa-pinterest-square"></i></a> 
</section>