<div class="navbar-wagon text-center">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <ul class="scrollspy">
      <li>
        <a href="#work" class="navbar-wagon-item navbar-wagon-link">Work</a>
      </li>
      <li>
        <a href="#projects" class="navbar-wagon-item navbar-wagon-link">Projects</a>
      </li>
      <li>
        <a href="#skills" class="navbar-wagon-item navbar-wagon-link">Skills</a>
      </li>
      <li>
        <a href="#passions" class="navbar-wagon-item navbar-wagon-link">Passions</a>
      </li>
      <li>
        <a href="#contact" class="navbar-wagon-item navbar-wagon-link">Contact</a>
      </li>
    </ul>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu page-scroll smooth-scroll">
        <li>
          <a href="#work">Work</a>
        </li>
        <li>
          <a href="#projects">Projects</a>
        </li>
        <li>
          <a href="#skills">Skills</a>
        </li>
        <li>
          <a href="#passions">Passions</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>