<section class="container text-center" id="passions">

  <h3 class="text-center">Here are some of my passions!</h3>
  <p>Click on the titles to find out more.</p>

  <div class="scuba passion" style="background-image: url('https://images.unsplash.com/photo-1516169466977-36c39efd2fd8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f45197cd9df8daef4a4da79a3390ea2&auto=format&fit=crop&w=3282&q=80')">
    <div data-toggle="collapse" data-target="#scuba"> <h4>Scuba Diving</h4>
    <div id="scuba" class="collapse">
      <p>I love been under water. I have over 1000 dives so far in multiple locations like Thailand, Indonesia (Pulau Weh and Bali), Scotland and the Caribbeans. I love it so much I moved overseas to teach it to everyone who had the desire to learn.</p>
    </div>
    </div> 
  </div>

  <div class="ski passion" style="background-image: url('https://images.unsplash.com/photo-1418662589339-364ad47f98a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=235f484b2cdafba4d0e2fa382f09286f&auto=format&fit=crop&w=2412&q=80')">
    <div data-toggle="collapse" data-target="#ski"> <h4>Ski and Snowboard</h4>
    <div id="ski" class="collapse">
      <p>I love been in the snow. I have been skiing since the age of 4 years old every year. I learnt snowboard at the age of 14! I have my own snowboard which gives me flexibility.</p>
    </div>
    </div> 
  </div>

  <div class="Travelling passion" style="background-image: url('https://images.unsplash.com/photo-1500847935426-d5ed311b99ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4c98ee09c73b2b2522f71a1299f21db&auto=format&fit=crop&w=2550&q=80')">
    <div data-toggle="collapse" data-target="#travel"> <h4>Travelling the world</h4>
    <div id="travel" class="collapse">
      <p>I love visiting new areas. I have lived so far in 5 different countries (France, USA, Belgium, UK, Thailand). I have visited plenty more (too long to write all of them) and created plenty of souvenirs.</p>
    </div>
    </div> 
  </div>

  <div class="Photography passion" style="background-image: url('https://images.unsplash.com/photo-1431068799455-80bae0caf685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=af75c1367f95c1f575031124ea851aee&auto=format&fit=crop&w=2550&q=80')">
    <div data-toggle="collapse" data-target="#photo"> <h4>Photography</h4>
    <div id="photo" class="collapse">
      <p>I love taking visual souvenirs. I am using a combination of Sony RX100 mark III, Iphone 7+ as well as a DJI Mavic Pro drone</p>
    </div>
    </div> 
  </div>
</section>


<section class="container text-center" id="passions2">

  <h3 class="text-center">Here are some of my passions!</h3>

  <div class="scuba passion" style="background-image: url('https://images.unsplash.com/photo-1516169466977-36c39efd2fd8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f45197cd9df8daef4a4da79a3390ea2&auto=format&fit=crop&w=3282&q=80')">
    <h4>Scuba Diving</h4>
  </div>
  <p>I love been under water. I have over 1000 dives so far in multiple locations like Thailand, Indonesia (Pulau Weh and Bali), Scotland and the Caribbeans. I love it so much I moved overseas to teach it to everyone who had the desire to learn.</p>


  <div class="ski passion" style="background-image: url('https://images.unsplash.com/photo-1418662589339-364ad47f98a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=235f484b2cdafba4d0e2fa382f09286f&auto=format&fit=crop&w=2412&q=80')">
    <h4>Ski and Snowboard</h4> 
  </div>
  <p>I love been in the snow. I have been skiing since the age of 4 years old every year. I learnt snowboard at the age of 14! I have my own snowboard which gives me flexibility.</p>


  <div class="Travelling passion" style="background-image: url('https://images.unsplash.com/photo-1500847935426-d5ed311b99ee?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4c98ee09c73b2b2522f71a1299f21db&auto=format&fit=crop&w=2550&q=80')">
    <h4>Travelling the world</h4>
  </div>
  <p>I love visiting new areas. I have lived so far in 5 different countries (France, USA, Belgium, UK, Thailand). I have visited plenty more (too long to write all of them) and created plenty of souvenirs.</p>


  <div class="Photography passion" style="background-image: url('https://images.unsplash.com/photo-1431068799455-80bae0caf685?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=af75c1367f95c1f575031124ea851aee&auto=format&fit=crop&w=2550&q=80')">
    <h4>Photography</h4>
  </div>
  <p>I love taking visual souvenirs. I am using a combination of Sony RX100 mark III, Iphone 7+ as well as a DJI Mavic Pro drone</p>

</section>