<section class="container" id="projects">
    <div class="row">
      <div class="project col-sm-3" style="background-image: url(<%= image_path 'JJDelvine_EaselA4-300.jpg'%>)">
        <a href="http://www.jjdelvine.com" target="_blank">jjdelvine</a>
      </div>

      <div class="project col-sm-3" style="background-image: url(<%= image_path 'Egg-Shelf2A4-80.jpg'%>)">
        <a href="http://www.oolographer.com" target="_blank">oolographer</a>
      </div>

      <div class="project col-sm-3" style="background-image: url(<%= image_path 'spker.jpg'%>)">
        <a href="http://www.spker.co.uk" target="_blank">spker</a>
      </div>
    </div>
</section>