<section class="container text-center wrapper" id="skills">

 <h3>Here is a list of my skills</h3> 

  <ul class="list-unstyled">
    <li>HTML / CSS (including SCSS) <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>Ruby & Ruby on Rails <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>JavaScript (ES6) <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>JQuery <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>JSON <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>React <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>Redux <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
    <li>Node <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
  </ul>
</section>