<section class="container text-center" id="work">
  <h3 class="text-center">My career so far!</h3>

  <div class="row">
    <div class="shipping job">
      <h4>Shipbroker at Howe Robinson</h4>
      <p>My first job outside of the mandatory internships was a role as a Junior Shipbroker at Howe Robinson in the city of London. I was responsible for sourcing new clients and maintaining existing client relationships.
      My role involved negotiating rental agreements between Shipowners and Charterers based on their respective needs, as well as maintaining their database on ship's specifications.
      </p>
    </div>

    <div class="Scuba job">
      <h4>SSI / PADI Scuba Diving Instructor</h4>
      <p>I took a career break to pursue my passion for Scuba Diving! I worked in Thailand, where I taught students of all ages and backgrounds the core and advanced principles of Scuba Diving.
      I currently have over 1000 dives in multiple locations including Europe, Caribbean, South East Asia.</p>
    </div>

    <div class="Apple job">
        <h4>Apple - Technical Specialist</h4>
        <p>I came back from Asia and decided to make a transition into the IT industry, securing a job as a Technical Specialist for Apple.
        My role encompassed advising customers on solutions to issues with their devices and teaching and guiding customers on how to use these.
        </p>
    </div>

    <div class="LeWagon job">
        <h4>Le Wagon - Teaching Assistant</h4>
        <p>After 2 years at Apple I took the decision to retrain and develop my career in web development. I undertook an intensive course with the Le Wagon Bootcamp - London and learnt the fundamentals of programming. This included Ruby, Rails, JavaScript and HTML/CSS. 
        I am currently working with Le Wagon as a Teaching Assistant whislt freelancing on other projects. I am now helping the new generation of people like to me to understand how to join this industry.  </p>
    </div>
  </div>
</section>