<section class="container text-center" id="work">
  <h3 class="text-center">My career so far!</h3>

  <div class="row">
    <div class="shipping job">
      <h4>Shipbroker at Howe Robinson</h4>
      <p>My first job outside of the mandatory internships was a job as a Junior Shipbroker at Howe Robinson in the city of London where I was in charge of finding new clients and maintaining the relationship we had with out current clients.
      My role consisted mainly of negotiating rental agreements between Shipowners and Charterers based on their respective needs. The other part for my job was to maintain our database regarding ships specifications. And of course some socialising with colleagues/clients(past/present/futur)
      </p>
    </div>

    <div class="Scuba job">
      <h4>SSI / PADI Scuba Diving Instructor</h4>
      <p>I took a career break to follow one of my passions: Scuba Diving! I left for Thailand where I taught students (from all ages and bacground) the core and advance principles of Scuba Diving.
      This gave me a lot of pleasure and have currently over 1000 dives under my belt in multiple locations (Europe, Caribeans, South East Asia).</p>
    </div>

    <div class="Apple job">
        <h4>Apple - Technical Specialist</h4>
        <p>I came back from Asia and decided to make a transition in the IT industry and got a job as a Technical Specialist for Apple in Bromley.
        My role was to advise customers on all the available solutions they had when they didn't know how to use their devices or if they broke/damaged their devices. Another part of my role was to teach/guide customers how to use their devices. 
        </p>
    </div>

    <div class="LeWagon job">
        <h4>Le Wagon - Teaching Assistant</h4>
        <p>After 2 years at Apple I made the decision to transition in the web development world. I joined the Le Wagon Bootcamp - London and I learned the fundamentals of programming in Ruby, Rails, JavaScript, HTML/CSS... 
        I Loved it and now I am working for them as a Teaching Assistant whislt freelancing a bit here and there. I am now helping the new generation of people like to me to understand how to join this industry.  </p>
    </div>
  </div>
</section>