.title {
  display: flex;
  color: #4378A7;
  justify-content: flex-start;
  align-items: center;
  margin-left: 60px;
  font-size: 25px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 90% 80%;
  position: relative;
}

#jobtitle {
  color: rgba( 250, 250, 250, 0.7);
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .title {
    color: white;
  }
}